<?xml version="1.0" encoding="utf-8"?>

<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:uap4="http://schemas.microsoft.com/appx/manifest/uap/windows10/4"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities"
  xmlns:desktop2="http://schemas.microsoft.com/appx/manifest/desktop/windows10/2"
  xmlns:desktop4="http://schemas.microsoft.com/appx/manifest/desktop/windows10/4"
  xmlns:desktop5="http://schemas.microsoft.com/appx/manifest/desktop/windows10/5"
  xmlns:desktop6="http://schemas.microsoft.com/appx/manifest/desktop/windows10/6"
  xmlns:com="http://schemas.microsoft.com/appx/manifest/com/windows10"
  IgnorableNamespaces="rescap uap uap4 desktop4 desktop2 desktop5 com">

	<Identity
	  Name="98fb7d2e-dde8-4ec5-81e3-3257dfc53e73"
	  Publisher="CN=Zhuangkh"
	  Version="1.0.0.0" />

	<Properties>
		<DisplayName>RevitLauncher</DisplayName>
		<PublisherDisplayName>Zhuangkh</PublisherDisplayName>
		<Logo>Images\StoreLogo.png</Logo>
	</Properties>

	<Dependencies>
		<TargetDeviceFamily Name="Windows.Desktop" MinVersion="10.0.15063.0" MaxVersionTested="10.0.22621.0" />
	</Dependencies>
	<Resources>
		<Resource Language="x-generate" />
	</Resources>
	
	<Applications>
		<Application Id="App"
		  Executable="$targetnametoken$.exe"
		  EntryPoint="$targetentrypoint$">
			<uap:VisualElements
			  DisplayName="RevitLauncher"
			  Description="RevitLauncher"
			  BackgroundColor="transparent"
			  Square150x150Logo="Images\Square150x150Logo.png"
			  Square44x44Logo="Images\Square44x44Logo.png">
				<uap:DefaultTile Wide310x150Logo="Images\Wide310x150Logo.png" />
				<uap:SplashScreen Image="Images\SplashScreen.png" />
			</uap:VisualElements>

			<Extensions>
				<uap:Extension Category="windows.fileTypeAssociation">
					<uap:FileTypeAssociation Name="revit" >
						<uap:SupportedFileTypes>
							<uap:FileType>.rvt</uap:FileType>
							<uap:FileType>.rfa</uap:FileType>
							<uap:FileType>.rte</uap:FileType>
							<uap:FileType>.rft</uap:FileType>
						</uap:SupportedFileTypes>
						<desktop2:DesktopPropertyHandler  Clsid ="6542121F-1D79-4A27-9471-F80277DA8535"/>
					</uap:FileTypeAssociation>
				</uap:Extension>

				<desktop4:Extension Category="windows.fileExplorerContextMenus">
					<desktop4:FileExplorerContextMenus>
						<desktop5:ItemType Type=".rvt">
							<desktop5:Verb Id="RevitLauncher" Clsid="5444C4A1-D5CE-4126-A734-58836F177027" />
						</desktop5:ItemType>
						<desktop5:ItemType Type=".rfa">
							<desktop5:Verb Id="RevitLauncher" Clsid="5444C4A1-D5CE-4126-A734-58836F177027" />
						</desktop5:ItemType>
						<desktop5:ItemType Type=".rft">
							<desktop5:Verb Id="RevitLauncher" Clsid="5444C4A1-D5CE-4126-A734-58836F177027" />
						</desktop5:ItemType>
						<desktop5:ItemType Type=".rte">
							<desktop5:Verb Id="RevitLauncher" Clsid="5444C4A1-D5CE-4126-A734-58836F177027" />
						</desktop5:ItemType>
					</desktop4:FileExplorerContextMenus>
				</desktop4:Extension>

				<com:Extension Category="windows.comServer">
					<com:ComServer>
						<com:SurrogateServer AppId="B9874C52-CF11-426B-AA1A-66F7F40FB219" DisplayName="RevitLauncher">
							<com:Class Id="5444C4A1-D5CE-4126-A734-58836F177027" Path="RevitLauncher.ShellExtension\RevitLauncher.ShellExtension.comhost.dll"
									   ThreadingModel="Both" ProgId="Zhuangkh.RevitLauncher.ContextMenu" />
							<com:Class Id="6542121F-1D79-4A27-9471-F80277DA8535" Path="RevitLauncher.ShellExtension\RevitLauncher.ShellExtension.comhost.dll"
										   ThreadingModel="Both" ProgId="Zhuangkh.RevitLauncher.PropertyHandler" />
						</com:SurrogateServer>

						<com:ProgId Id="Zhuangkh.RevitLauncher.PropertyHandler" Clsid="6542121F-1D79-4A27-9471-F80277DA8535" />
						<com:ProgId Id="Zhuangkh.RevitLauncher.ContextMenu" Clsid="5444C4A1-D5CE-4126-A734-58836F177027" />
					</com:ComServer>
				</com:Extension>
			</Extensions>
		</Application>
	</Applications>

	<Capabilities>
		<Capability Name="internetClient" />
		<rescap:Capability Name="runFullTrust" />
	</Capabilities>
</Package>
